# Rust dev/build outputs
backend/target

# Nuxt dev/build outputs
frontend/.output
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist

# Node dependencies
frontend/node_modules

# Local env files
.env*

# Docker configuration
.dockerignore
**/compose*.yaml
**/Dockerfile*

# Misc
.git
.gitattributes
.github
.gitignore
.prettierignore
.vscode
**/.DS_Store
