# Rust dev/build outputs
/target

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Local env files
.env*

# Docker configuration
**/compose*.yaml
**/Dockerfile*
/.dockerignore

# Misc
/.git
/.gitattributes
/.github
/.gitignore
/.vscode
.DS_Store
