root = true

[*]
# ⚠️ This file also configures Prettier, so it mustn't override Prettier's
# defaults for the same reason our Prettier config mustn't be modified.

charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 80
