@use "~/assets/styles/themes.scss";

:root {
  height: 100%;
  font-family: var(--font-family);
  line-height: 1.2;
  word-break: break-word;

  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;

  --font-family: "Roboto", sans-serif;
  --brand-color: #309f76;
  --brand-color-2: #f6be6e;
}

body {
  margin: 0;

  background-color: var(--background-color);
  color: var(--text-color);
}

p {
  line-height: 1.5;
}

.panel {
  // Let descendants be positioned relative to panels.
  position: relative;

  border-radius: 1rem;
  background-color: var(--surface-color);
  box-shadow: 0 4px 8px var(--shadow-large-color);

  text-align: left;
}

:link:not(:active),
:visited:not(:active) {
  color: currentColor;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

input {
  vertical-align: middle;
  line-height: 1.2;
  font-size: 1em;
  font-family: var(--font-family);
  color: var(--input-text-color);

  width: stretch;
  border-radius: 0.5rem;
  padding: 0.6rem;
  background-color: var(--input-background-color);

  $box-shadow:
    0 1px var(--edge-color),
    inset 0 1px 0.25rem -1px var(--shadow-small-color);

  border: none;
  // A transparent default outline makes transitions to other outlines smoother.
  outline: 1px solid transparent;
  margin: 1px;
  box-shadow: $box-shadow;

  white-space: nowrap;
  overflow: hidden;
  user-select: none;

  transition:
    0.1s ease-out color,
    0.1s ease-out outline-color,
    0.1s ease-out box-shadow,
    0.1s ease-out opacity;

  &:hover:not(:disabled) {
    color: var(--input-text-color-hover);
    outline-color: var(--outline-color-hover);
    box-shadow:
      $box-shadow,
      0 0 0.4rem -0.2rem var(--glow-color);
  }

  &:active:not(:disabled),
  &:focus-visible:not(:disabled) {
    color: var(--input-text-color-active);
    outline-color: var(--outline-color-active);
    box-shadow:
      $box-shadow,
      0 0 0.4rem var(--glow-color);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.warning {
  color: var(--warning-text-color);
}

@keyframes fade-in {
  from {
    animation-timing-function: ease;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
