@use "~/assets/styles/themes.scss";

:root {
  height: 100%;
  font-family: var(--font-family);
  line-height: 1.2;
  word-break: break-word;

  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;

  --font-family: system-ui, sans-serif;
  --font-family-monospace: ui-monospace, monospace;
  --color-brand: #309f76;
  --color-brand-2: #f6be6e;
}

body {
  margin: 0;
  height: 100%;

  background-color: var(--color-background);
  color: var(--color-text);
}

#__nuxt {
  // All ancestors of layout elements need 100% height so layouts are able to
  // have 100% height too.
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;

  // Normalize font sizes and margins to fix inconsistency across browsers.
  font-size: 1em;
  margin: 1rem 0;
}

.headings-formatted {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  p + {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1.5em;
    }
  }
}

ol,
p,
ul {
  line-height: 1.5;
}

li {
  margin: 0.25em 0;
}

.panel {
  // Let descendants be positioned relative to panels.
  position: relative;

  --border-radius-containing-block: 1rem;
  border-radius: var(--border-radius-containing-block);

  background-color: var(--color-foreground);
  box-shadow: 0 4px 8px var(--color-shadow-large);

  text-align: left;
}

.frosted {
  backdrop-filter: blur(2rem);
}

:link:not(:active),
:visited:not(:active) {
  color: currentColor;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

input,
textarea {
  font-size: 1em;
  font-family: var(--font-family);
  color: var(--color-input-text);

  vertical-align: middle;

  $box-shadow:
    0 1px var(--color-edge-inner),
    inset 0 1px 0.6rem -1px var(--color-shadow-medium);

  border: none;
  // A transparent default outline makes transitions to other outlines smoother.
  outline: 1px solid transparent;
  // Override any user agent defaults.
  outline-offset: 0;
  background-color: var(--color-input-background);
  border-radius: 0.25rem;
  margin: 1px;
  box-shadow: $box-shadow;

  overflow: hidden;

  transition:
    0.1s ease-out color,
    0.1s ease-out outline-color,
    0.1s ease-out box-shadow,
    0.1s ease-out opacity;

  &:hover:not(:disabled) {
    color: var(--color-input-text-hover);
    outline-color: var(--color-outline-hover);
    box-shadow:
      $box-shadow,
      0 0 0.5rem -0.25rem var(--color-glow);
  }

  &:active:not(:disabled),
  &:focus-visible:not(:disabled) {
    color: var(--color-input-text-active);
    outline-color: var(--color-outline-active);
    box-shadow:
      $box-shadow,
      0 0 0.5rem var(--color-glow);
  }

  &:disabled {
    opacity: 0.5;
  }
}

input {
  padding: 0 0.6rem;
  // Use line height instead of vertical padding so certain glyphs aren't cut
  // off.
  line-height: 2.4;
  white-space: nowrap;
}

textarea {
  padding: 0.5em;
  line-height: 1.5;
  white-space: pre-wrap;

  resize: vertical;
}

input:not([type]),
input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
textarea {
  width: stretch;
}

input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  cursor: pointer;

  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.125em;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &::before {
    pointer-events: none;

    opacity: 0;
    transition: 0.1s ease-out opacity;
  }

  &:checked::before {
    opacity: 1;
  }
}

input[type="checkbox"]::before {
  content: "✔";
}

input[type="radio"] {
  border-radius: 50%;

  &::before {
    content: "";

    background-color: currentColor;
    width: 50%;
    height: 50%;
    border-radius: inherit;
  }
}

code {
  font-family: var(--font-family-monospace);
  white-space: pre-wrap;
}

@keyframes fade-in {
  from {
    animation-timing-function: ease;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
