:root {
  color-scheme: dark;
  --color-background: #0f1a17;
  --color-foreground: #d3f3ff0d;
  --color-foreground-light: #d3f3ff18;
  --color-text: #f0f0f0;
  --color-text-weak: #ced0cf;
  --color-text-weaker: #b9bbba;
  --color-shadow-small: #00000060;
  --color-shadow-medium: #00000056;
  --color-shadow-large: #00000029;
  --color-glow: #f0f0f060;
  --color-outline: #f0f0f01c;
  --color-outline-hover: #f0f0f030;
  --color-outline-active: #f0f0f0cf;
  --color-shiny-edge: #ffffff2e;
  --color-input-background: #00000047;
  --color-input-text: #e8e8e8;
  --color-input-text-hover: #f8f8f8;
  --color-input-text-active: #ffffff;
  --color-accent-foreground: #08b17326;
  --color-accent-foreground-light: #04cd8359;
  --color-accent-input-text: #ffffff;
  --color-accent-input-text-hover: #ffffff;
  --color-accent-input-text-active: #ffffff;
  --color-error-background: #da2b2b82;
  --color-error-background-light: #e13d3d8f;
  --color-error-glow: #ff000082;
  --color-error-text: #ffffff;
  --color-error-text-weak: #ffffffaa;
}

.theme-light {
  color-scheme: light;
  // TODO: Make light theme look good.
  --color-background: #e1d5bf;
  --color-foreground: #ffffff40;
  // Use pure black for the best contrast, just like physical printed text.
  --color-text: #000000;
  --color-text-weak: #222222;
  --color-text-weaker: #444444;
  --color-shadow-small: #00000060;
  --color-shadow-medium: #00000050;
  --color-shadow-large: #00000029;
  --color-glow: #f0f0f060;
  --color-outline-hover: #f0f0f030;
  --color-outline-active: #f0f0f090;
  --color-shiny-edge: #ffffff48;
  --color-input-background: #0000002c;
  --color-input-text: #000000;
  --color-input-text-hover: #101010;
  --color-input-text-active: #181818;
}
