@use "~/assets/styles/themes.scss";

:root {
  height: 100%;
  font-family: var(--font-family);
  line-height: 1.2;

  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;

  --font-family: "Roboto", sans-serif;
  --brand-color: #309f76;
}

body {
  margin: 0;

  background-color: var(--background-color);
  color: var(--text-color);
}

.panel {
  border-radius: 1rem;
  background-color: var(--surface-color);
  box-shadow: 2px 1px 5px var(--shadow-large-color);

  text-align: left;
}

:link:not(:active),
:visited:not(:active) {
  color: currentColor;
}

label {
  display: block;
  margin-bottom: 0.333em;
  opacity: 0.85;
}

input {
  vertical-align: middle;
  line-height: 1.2;
  font-size: 1em;
  font-family: var(--font-family);
  color: var(--input-text-color);

  border-radius: 0.667em;
  padding: 0.5em 0.75em;
  background-color: var(--input-background-color);

  $box-shadow:
    1px 1px var(--edge-color),
    inset 1px 1px 0.25rem -1px var(--shadow-small-color);

  border: none;
  // A transparent default outline makes transitions to other outlines smoother.
  outline: 1px solid transparent;
  margin: 1px;
  box-shadow: $box-shadow;

  white-space: nowrap;
  overflow: hidden;
  user-select: none;

  transition: 0.1s ease-out;

  &:hover:not(:disabled) {
    color: var(--input-text-color-hover);
    outline-color: var(--outline-color-hover);
    box-shadow:
      $box-shadow,
      0 0 0.4em -0.2em var(--glow-color);
  }

  &:active:not(:disabled),
  &:focus-visible:not(:disabled) {
    color: var(--input-text-color-active);
    outline-color: var(--outline-color-active);
    box-shadow:
      $box-shadow,
      0 0 0.4em var(--glow-color);
  }

  &:disabled {
    opacity: 0.5;
  }
}
