@use "~/assets/styles/themes.scss";

:root {
  height: 100%;
  font-family: var(--font-family);
  line-height: 1.2;

  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;

  --font-family: "Roboto", sans-serif;
  --brand-color: #309f76;
}

* {
  outline: none;
}

body {
  margin: 0;

  background-color: var(--background-color);
  color: var(--text-color);
}
