:root {
  --font-family: "Roboto", sans-serif;

  --background-color: #0f1a17;
  --text-color: #f0f0f0;

  --border-color: #f0f0f060;
  --hover-border-color: #f0f0f080;
  --active-border-color: #f0f0f0c0;

  --surface-color: #f0f0f018;
  --shadow-color: #00000029;

  --brand-color: #309f76;
}
